
.img{
    border: 1px solid black;
    width: 52%;
    height: 250px;
    position: relative;
    left: 20%;
    margin: 10px;
   
}

.next{
position: relative;
top: -300px;
width: 40%;
opacity: 1;
}
