@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.card {
  width: 350px;
  height: 600px;
  margin-top: 40px;
}

.card-title {
  color: black;
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px gray !important;
  transition: all 0.3s linear;
  transform: translateY(-8px);
}

.card-body {
  padding: 2rem 0 !important;
  height: 240px;
  margin-left: 5%;
}

.overflow {
  overflow: hidden;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  transition: all 0.3s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.25);
}

.cuotas {
  color: rgb(170, 169, 169);
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
}

.h55 {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: grey;
}

.h44 {
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  color: #4894ec;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: 350px !important;
  }

  .card-title {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }

  .h55 {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: black;
  }

  .h44 {
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
  }

  .overflow {
    overflow: hidden;
    width: 100%;
    height: 200px;
  }

  .card-body {
    padding: 5px;
    font-family: 'Poppins', sans-serif;
  }

  .cuotas {
    font-size: 0.8rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .card {
    width: 100%;
  }
}
