.card:hover{
    box-shadow: 5px 10px 20px 1px gray !important;
    transition: all 0.3s linear;
}

.card-body {
    padding: 2rem 0 !important;
}

.card-text{
    padding: 0.3rem 1rem;
    font-size: 1rem;
}

.overflow{
    overflow: hidden;
}

.card-img-top{
    transition: all 0.3s ease-in-out;
}

.card-img-top:hover{
    transform: scale(1.25)
}