.card {
  width: 350px;
  height: 600px;
  margin-top: 40px;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px gray !important;
  transition: all 0.3s linear;
}

.card-body {
  padding: 2rem 0 !important;
  height: 240px;
}

.card-text {
  padding: 0.3rem 1rem;
  font-size: 0.7rem;
}

.overflow {
  overflow: hidden;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.card-img-top {
  transition: all 0.3s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.25);
}


@media (max-width: 768px){
  .card {
    width: 100%;
    height: 400px !important;
  }

  .card-title{
    font-size: 20px; 
  }

  .h55{
    font-size: 15px;
  }

  .h44{
    font-size: 15px;
  }

  .overflow {
    overflow: hidden;
    width: 100%;
    height: 200px ;
  }

  
.card-body {
 padding: 5px;
}

}