.questions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px solid green; */
  width: 41%;
}

.titulo-preguntas {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-start;
  /* border: 3px solid purple; */
  width: 100%;
  margin-left: 31%;
}

@media (max-width: 768px) {
  .questions-container {
    position: absolute;
    width: 95%;
    height: 40%;
    top: 0;
  }

  .titulo-preguntas {
    position: absolute;
    top: 10px;
  }
}
