.form-container {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 5rem; */
  /* border: red solid 3px; */
  height: 30rem;
}

.form-container input {
  border-radius: 5px;
}

.form-label {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
  margin-bottom: 0rem;
}

.form-input {
  height: 3rem;
  width: 30rem;
}

.submit-button {
  margin-top: 50px;
  padding: 15px 25px;
  border: unset;
  border-radius: 100px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
}

.submit-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.submit-button:hover {
  color: #e8e8e8;
}

.submit-button:hover::before {
  width: 100%;
}

.pregunta-enviada {
  font-weight: bold;
  margin-left: 0.5rem;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  /* border: solid red 3px; */
  align-items: center;
}
.inputs-container input {
  margin: 1rem;
  padding: 1rem;
}
.inputs-container label {
  font-weight: bold;
  margin: auto;
}

@media (max-width: 768px) {
  .form-cont {
    position: absolute;
    width: 95%;
    height: 50%;
    bottom: 0;
  }

  .form-container {
    height: 50%;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 3%;
    top: 0;
  }

  .form-input {
    height: 35px;
    width: 220px;
    position: absolute;
    top: 55%;
    left: 20%;
  }

  .submit-button {
    padding: 5px 15px;
    width: 220px;
    position: absolute;
    top: 65%;
    left: 20%;
  }
}
