.star-rating button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}

.star-rating {
  display: flex;
  justify-content: center;
  /* border: solid yellow 3px; */
  height: 5rem;
  margin-top: 1rem;
}
