.add-role-container {
  margin-top: 5.1rem;
  border: solid black 1px;
  width: 20rem;
  display: flex;
  justify-content: center;
  width: 35rem;
  padding-bottom: 1rem;
}

.add-role-container p {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.6rem;
}
.email-select label {
  font-weight: bold;
  margin: 1rem;
}

.add-submit {
  margin: 1rem;
  margin-top: 1.5rem;
}

.add-submit button {
  background-color: white;
  border: 1px solid black;
  color: black;
  transition: all 0.4s;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
}
.add-submit button:hover {
  filter: invert(100%);
}

.response-container {
  height: 6rem;
  border: 3px solid blue;
}

.response-container p {
  font-size: medium;
  font-weight: normal;
}
