.div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.filt {
  width: 100%;
  display: flex;
  justify-content: center;
}

.select {
  --bg: #000;
  --hover-bg: #ffffff;
  --hover-text: #000;
  color: #fff;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 5px 5px;
  margin: 10px;
  font-weight: bold;
  background: var(--bg);
  transition: 0.2s;
}

.select:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.select:active {
  transform: translate(0);
  box-shadow: none;
}

.div button {
  width: 200px;
  border-radius: 5px;
  padding: 2px 5px;
}

.clear button {
  width: 160px;
  height: 38px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  background-color: #4894ec;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
  font-size: 15px;
  margin-left: 30px;
}

.clear button:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #111111;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.clear button:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
}

.clear button:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.clear button:active {
  transform: scale(0.9);
}

@media (max-width: 768px) {
  .div {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
  }

  .filt {
    flex-direction: column;
    align-items: center;
  }

  .select {
    width: 95%;
  }

  .clear button {
    width: 190px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    background-color: #4894ec;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
    top: 200%;
    right: 5%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .div {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: 100%;
  }

  .filt {
    flex-direction: column;
    align-items: center;
  }

  .select {
    width: 45%;
  }

  .clear button {
    width: 190px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    background-color: #4894ec;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
    top: 200%;
    right: 5%;
  }
}

@media (min-width: 1201px) and (max-width: 1500px) {
  .div {
    flex-direction: column;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .div {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: 100%;
  }

  .filt {
    flex-direction: column;
    align-items: center;
  }

  .select {
    width: 30%;
  }

  .clear button {
    width: 190px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    background-color: #4894ec;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
    top: 200%;
    right: 5%;
  }
}

@media (min-width: 1201px) and (max-width: 1500px) {
  .div {
    flex-direction: column;
  }
}
