.Div {
    background-color: #ffffff;
    height: 1400px;
}

.imagenAbout {
    border: 1px solid black;
    min-width: 900px;
    min-height: 900px;
}

.divPadre {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card {
    height: 350px;
    width: 300px;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 1em;
    box-shadow: 0 0 20px 8px #d0d0d0;
    margin: 8px;
}


.card_image {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: url('./carlos_islas.jpeg');
    background-size: cover;

    /* background: linear-gradient(to top, #0a3394, #4286f4); */
}

.card_image2 {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: url('./alejandro.jpg');
    background-size: cover;

    /* background: linear-gradient(to top, #0a3394, #4286f4); */
}

.card_image3 {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: url('./carlos_medero.jpg');
    background-size: cover;

    /* background: linear-gradient(to top, #0a3394, #4286f4); */
}

.card_image4 {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: url('./joaco.jpg');
    background-size: cover;

    /* background: linear-gradient(to top, #0a3394, #4286f4); */
}

.card_image5 {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: url('./cesar.jpg');
    background-size: cover;

    /* background: linear-gradient(to top, #0a3394, #4286f4); */
}

.card_image6 {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: url('./beli.jpg');
    background-size: cover;

    /* background: linear-gradient(to top, #0a3394, #4286f4); */
}



.contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.text_title {
    font-size: 1.4em;
    font-weight: 700;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_body {
    font-size: 1em;
    line-height: 150%;
}

.card_description {
    /* width: 100%;
    display: flex;
    position: absolute;
    top: 10px;
    gap: 1em;
    flex-direction: column;
    background-color: white;
    opacity: .7;
    height: 70%;
    bottom: 0;
    border-radius: 1em 1em 0 0;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem; */
    display: none;
    
}

.card:hover .card_description {
    transform: translateY(40%);
    width: 100%;
    display: flex;
    position: absolute;
    top: 10px;
    gap: 1em;
    flex-direction: column;
    background-color: white;
    opacity: .8;
    height: 70%;
    bottom: 0;
    border-radius: 1em 1em 0 0;
    transition: all 5s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
}



.contentAbout {
    background-color: #ffffff;
    height: 79vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative;
    right: 8.7%; */
}

.contentAbout h1 {
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 50px;
}

.divData {
    width: 100%;
    position: relative;
    top: 160px;
}

.Footer {
    width: 100%;
    position: relative;
    top: 100px;
}



@media (max-width: 1300px) {
    .Div {
        background-color: #edeff0;
        height: 1940px;
    }

    .divPadre {
        width: 95%;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 1em;
        box-shadow: 0 0 20px 8px #d0d0d0;
        margin: 8 8 8 8px;
        text-align: center;
        justify-content: center;
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 250px 250px 250px;
        grid-gap: 90px;


    }

    .card {
        height: 250px;
        width: 250px;
        position: relative;
        top: 100px;
        right: 27%;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 1em;
        box-shadow: 0 0 20px 8px #d0d0d0;
        margin: 40px;
    }
}

@media (max-width: 900px) {
    .Div {
        background-color: #edeff0;
        height: 1800px;
    }

    .divPadre {
        width: 95%;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 1em;
        box-shadow: 0 0 20px 8px #d0d0d0;
        margin: 8px;
        justify-content: center;
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
        grid-gap: 60px;
        border: 1px solid black;
    }

    .card {
        height: 200px;
        width: 200px;
        position: relative;
        top: -10px;
        right: 17%;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 1em;
        box-shadow: 0 0 20px 8px #d0d0d0;
        margin: 30px;
        /* margin-left: 40px;
        margin-right: 40px; */
    }
}

@media (max-width: 530px) {
    .divPadre {
        width: 95%;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 1em;
        box-shadow: 0 0 20px 8px #d0d0d0;
        margin: 8px;
        justify-content: center;
        display: grid;
        grid-template-columns: 170px 170px;
        grid-template-rows: auto;
        grid-gap: 0px;
    }

    .card {
        height: 150px;
        width: 150px;
        position: relative;
        right: 17%;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 1em;
        box-shadow: 0 0 20px 8px #d0d0d0;
        margin: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (max-width: 340px) {
    .divPadre {
        width: 95%;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 1em;
        box-shadow: 0 0 20px 8px #d0d0d0;
        margin: 8px;
        justify-content: center;
        display: grid;
        grid-template-columns: 170px;
        grid-template-rows: auto;
        grid-gap: 0px;
    }

    .card {
        height: 150px;
        width: 150px;
        position: relative;
        right: 17%;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 1em;
        box-shadow: 0 0 20px 8px #d0d0d0;
        margin: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }
}