.btnQA {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 5px;
}

.btnQA img {
  width: 50px;
}

.btnQA:nth-child(3) img {
  width: 35px;
}

.detailCont {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: row;
}

.parent-container {
  display: flex;
  flex-direction: column;
}

.imgCont {
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #edeff0;
  flex-direction: column;
}

.img11 {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img11 img {
  width: 400px;
  height: 400px;
}

.img111 {
  width: 40%;
  height: 90%;
  background-position: center;
  background-size: calc(120% - 80px);
}

.textCont {
  background-color: #edeff0;
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.textCont h2 {
  font-size: 40px;
}

.textCont p {
  font-size: 20px;
}

.productDesc {
  margin-bottom: 180px;
}

.productDesc h2 {
  margin-bottom: 30px;
  font-weight: bold;
}

.añadirCart {
  padding: 10px;
  width: 260px;
  outline: none;
  border: 2px solid black;
  background-color: white;
  color: white;
  position: relative;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}

.añadirCart::before {
  content: 'AÑADIR AL CARRITO';
  position: absolute;
  top: -14%;
  left: 7%;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s ease-in-out;
  font-weight: bold;
}

.añadirCart:hover::before {
  top: 0;
  left: 0;
}

.textCont h3 {
  font-weight: bold;
}

.productDesc {
  width: 500px;
  height: 300px;
  padding-left: 30px;
}

.botones {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.fav {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: #edeff0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.fav:hover {
  filter: invert(100%);
}

.fav img {
  width: 25px;
}

.current {
  width: 50px;
  height: 50px;
  filter: invert(100%);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.current img {
  width: 25px;
}

.qyaCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btns button {
  border: 0;
}

.btns {
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  padding: 5px 15px;
  transform: translateY(-140%);
}

.btns img {
  transition: all 0.4s;
}

.btns img:hover {
  border-radius: 5px;
  transform: translateY(-10px);
}

.spinner {
  width: 200px;
  height: 200px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
  position: absolute;
  left: 45%;
  top: 45%;
}

.spinner > div {
  background-color: rgba(0, 77, 255, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #004dff;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(22px);
}

@keyframes spinner-y0fdc1 {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

@media (max-width: 768px) {
  .detailCont {
    flex-direction: column;
    align-items: center;
  }

  .imgCont {
    height: 400px;
  }

  .img1 {
    width: 60%;
  }

  .img111 {
    width: 80%;
  }

  .textCont {
    width: 100%;
    height: 60%;
    position: relative;
  }

  .textCont h2 {
    font-size: 28px;
    width: 80%;
  }

  .textCont h3 {
    font-weight: bold;
  }

  .textCont h5 {
    font-size: 18px;
  }

  .btns {
    position: absolute;
    top: 90%;
  }

  .btns img {
    width: 50px;
  }

  .productDesc {
    margin-left: 15%;
    position: absolute;
    top: 10px;
  }

  .botones {
    width: 90%;
    position: absolute;
    bottom: 10%;
  }

  .spinner {
    width: 150px;
    height: 150px;
    left: 35%;
  }
}
