/* contenedor de todo el navbar */

.div {
  /* border: 1px solid black; */
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 1000;
  border-bottom: 0.5px solid black;
}

.searchBar {
  width: 12%;
  display: flex;
  align-items: center;
  height: 30px;
  position: relative;
}

.filtros {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Hamburguesa {
  display: none;
}

.btn h6 {
  color: rgb(255, 255, 255);
  border: solid rgba(0, 0, 0, 0.678) 0.1px;
  width: 22px;
  height: 22px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  left: 70%;
  top: 5%;
}

.profileMenu summary {
  padding: 0px 5px;
  width: 95%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  background-color: #ffffff;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
  border-radius: 5px;
  border: solid 1px black;
  border-top: solid 2px black;
}

.desplegable {
  border: 1px solid black;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desplegable div {
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4px 10px;
  background-color: #171717;
}

.link {
  text-decoration: none;
  color: #fff;
}

.button {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  color: #fff;
}

.button:hover {
  color: #2c96cf;
}

.profileMenu summary:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.admin {
  display: flex;
}

.btnQA {
  width: 60px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* margin-left: 15px; */
  border-radius: 5px;
  transition: all 0.4s;
}

.btnQA:hover {
  padding-bottom: 10px;
}

.btnQA img {
  width: 80px;
}

.btnQA:nth-child(3) img {
  width: 35px;
}

.profileMenu summary:hover {
  background-color: #000000;
  color: #fff;
  box-shadow: 0 2px 0 2px #3594ee;
}

.profileMenu summary:hover :before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.profileMenu summary:active {
  transform: scale(0.9);
}

.black {
  width: 100%;
  height: 30%;
  background-color: black;
}

.white {
  width: 100%;
  height: 70%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btns {
  width: 16%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.backHome {
  border: 1px solid black;
  display: flex;
  padding: 5px;
  color: black;
  background-color: white;
  font-weight: bold;
  transition: all 0.4s;
  justify-content: center;
  align-items: center;
}

.backHome:hover {
  filter: invert(100%);
}

.btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 5px;
  border: 0;
  background-color: white;
  position: relative;
}

.btn img {
  width: 25px;
}

.btn:nth-child(3) img {
  width: 35px;
}

.carro .btn img {
  width: 35px;
}

.adminBut {
  display: flex;
}

.adminn {
  display: flex;
  flex-direction: column;
}

.btnSuperAdmin {
 margin-left: 4px;
 margin-top: 7px;
 border: none;
 color: #fff;
 background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
 border-radius: 20px;
 background-size: 100% auto;
 font-family: inherit;
 font-size: 17px;
 padding: 0.6em 1.5em;
}

.btnSuperAdmin:hover {
 background-position: right center;
 background-size: 200% auto;
 -webkit-animation: pulse 2s infinite;
 animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
 0% {
  box-shadow: 0 0 0 0 #05bada66;
 }

 70% {
  box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
 }

 100% {
  box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
 }
}

.publicar button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  color: #fff;
  transition: all 0.4s;
}

.publicar button:hover {
  color: #2c96cf;
}

.historialC button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  color: #fff;
  transition: all 0.4s;
}

.historialC button:hover {
  color: #2c96cf;
}

.historialV button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  color: white;
  transition: all 0.4s;
}

.historialV button:hover {
  color: #2c96cf;
}

.btnAdmin button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  color: white;
  transition: all 0.4s;
}

.btnAdmin button:hover {
  color: #2c96cf;
}

@media (max-width: 768px) {
  .backHome {
    position: absolute;
    left: 5%;
    top: 15%;
  }

  .black {
    width: 100%;
    height: 70%;
    background-color: black;
  }

  .div {
    border-bottom: transparent;
  }

  .filtros {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -17%;
    left: 0%;
  }

  .searchBar {
    width: 300px;
    position: relative;
    top: -59%;
    right: 10%;
    display: flex;
    flex-direction: column;
    margin-left: 99px;
  }

  .admin {
    width: 200px;
    border-radius: 10px;
    margin-left: 50px;
  }

  .adminn {
    display: flex;
    flex-direction: column;
    border: 0;
  }

  .publicar button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: white;
    transition: all 0.4s;
  }

  .publicar button:hover {
    color: #2c96cf;
  }

  .historialV button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    color: #fff;
    transition: all 0.4s;
  }

  .historialV button:hover {
    color: #2c96cf;
  }

  .Hamburguesa {
    display: flex !important;
    flex-direction: column;
    margin: 5px;
    position: relative;
    left: 5%;
    top: 27px;
    cursor: pointer;
    width: 30px;
  }

  .Hamburguesa span {
    width: 30px;
    height: 4px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }

  .btns {
    position: absolute;
    top: -65px;
    /* margin-right: 17%; */
    margin-left: 7%;
    width: 40%;
    height: 50px;
    display: flex;
    filter: invert(100%);
  }

  .btnSuperAdmin {
    position: relative;
    left: 35px;

   }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .div {
    border-bottom: 0;
  }

  .black {
    width: 100%;
    height: 70%;
    background-color: black;
  }

  .btns {
    width: 100%;
  }

 
  .Hamburguesa {
    display: flex !important;
    flex-direction: column;
    margin: 5px;
    position: relative;
    left: 5%;
    top: 27px;
    cursor: pointer;
    width: 30px;
  }

  .Hamburguesa span {
    width: 30px;
    height: 4px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }

  .filtros {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -8%;
    left: 0%;
  }

  .searchBar {
    width: 40%;
    height: 40px;
    position: relative;
    top: -67%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .admin {
    width: 1000px;
    border-radius: 10px;
    margin-left: 50px;
  }

  .publicar button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: white;
    transition: all 0.4s;
  }

  .publicar button:hover {
    color: #2c96cf;
  }

  .historialV button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    color: #fff;
    transition: all 0.4s;
  }

  .historialV button:hover {
    color: #2c96cf;
  }

  .btns {
    position: absolute;
    top: -65px;
    margin-right: 17%;
    width: 40%;
    height: 50px;
    display: flex;
    left: 25%;
    filter: invert(100%);
  }
  
  .btnSuperAdmin {
    position: relative;
    left: 50px;

   }
}
