.revCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.revs {
    margin-bottom: 1.5rem;
}

.revBox {
    background-color: #edeff0;
    border-radius: 15px;
    width: 30rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.revBox label {
    display: flex;
    justify-content: right;
}