.errors {
  display: flex;
  margin-top: 10px;
  padding-left: 12px;
  border-radius: 4px;
  background-color: #ec39399d;
  justify-content: center;
}

.createHeader {
  height: 120px;
  display: flex;
  flex-direction: column;
}

.black {
  width: 100%;
  height: 30%;
  background-color: black;
}

.white {
  width: 100%;
  height: 70%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btns {
  width: 150px;
  height: 50px;
  display: flex;
  position: absolute;
  right: 5%;
}

.btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn img {
  width: 25px;
}

.btn:nth-child(3) img {
  width: 35px;
}

.backHome {
  border: 1px solid black;
  display: flex;
  padding: 5px;
  color: black;
  background-color: white;
  font-weight: bold;
  transition: all 0.4s;
  position: absolute;
  left: 3%;
  top: 7%;
}

.backHome:hover {
  filter: invert(100%);
}

.profileMenu summary {
  padding: 0px 5px;
  /* width: 80px; */
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  background-color: #ffffff;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
  border-radius: 5px;
  border: solid 1px black;
  border-top: solid 2px black;
}

.desplegable {
  border: 1px solid black;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desplegable div {
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4px 10px;
  background-color: #171717;
}

.button {
  background: none;
  border: 0;
  cursor: default;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  color: #fff;
}

.button:hover {
  color: #2c96cf
}

.profileMenu summary:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.profileMenu summary:hover {
  background-color: #000000;
  color: #fff;
  box-shadow: 0 2px 0 2px #3594ee;
}

.profileMenu summary:hover :before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.profileMenu summary:active {
  transform: scale(0.9);
}

.createCont {
  background-color: #edeff0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createCont h1 {
  font-weight: bold;
  font-size: 60px;
}

.forms {
  padding-top: 50px;
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputI {
  margin-top: 40px;
  width: 400px;
  position: relative;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.inputI img {
  position: absolute;
  right: 0;
}


.inputI p {
  position: absolute;
  right: 0;
  top: 25px;
  width: 100%;
}

.inputI input {
  position: absolute;
  right: 100px;
}

.inputI label {
  font-weight: bold;
  margin-right: 30px;
}

.inputs {
  margin-top: 40px;
  width: 300px;
  position: relative;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.inputs input {
  position: absolute;
  right: 0;
}

.inputs label {
  font-weight: bold;
  margin-right: 30px;
}

select {
  border-radius: 5px;
  padding: 5px 10px;
}

.category {
  margin-top: 30px;
}

.category label {
  font-weight: bold;
  margin-right: 20px;
}

.publicar {
  display: flex;
  justify-content: center;
}

.publicar button {
  margin-top: 50px;
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
}

.publicar button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.publicar button:hover {
  color: #e8e8e8;
}

.publicar button:hover::before {
  width: 100%;
}