.cartCont {
  background-color: #edeff0;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartCont h1 {
  margin-top: 7px;
  font-weight: bold;
  font-size: 60px;
}

.limpiar {
  margin-top: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 15%;
  right: 10%;
}

.total {
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 45%;
  right: 13%;
}

.total p {
  font-size: 30px;
  font-weight: bold;
}

.pagar {
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: 55%;
  right: 10%;
}