@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.item {
  width: 60%;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 5px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
}

.itemImg {
  width: 20%;
  height: 180px;
  margin-right: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.btns {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background-color: white;
}

.btns button {
  border-radius: 5px;
  margin-left: 10px;
  font-weight: 500;
  transition: all 0.3s;
  background-color: white;
}

.btns button:hover {
  filter: invert(100%);
}

.info p {
  font-weight: 500;
}

.nombre{
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: black;
}

.precio{
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: black;
}

.stock{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.talla{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.cantidad{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

@media (max-width: 768px) {
  .item {
    width: 95%;
    height: 170px;
    padding: 10px;
  }

  .itemImg {
    width: 20%;
    height: 80px;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }

  .btns button {
    border-radius: 5px;
    margin-left: 10px;
    padding: 1px 4px;
    font-size: 13px;
    font-weight: 500;
  }
}
