.item {
  width: 60%;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.itemImg {
  width: 20%;
  height: 180px;
  margin-right: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.btns {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.btns button {
  border-radius: 5px;
  margin-left: 10px;
  font-weight: 500;
}

.info p {
  font-weight: 500;
}

@media (max-width: 768px) {
  .item {
    width: 95%;
    height: 170px;
    padding: 10px;
  }

  .itemImg {
    width: 20%;
    height: 80px;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
  }

  .btns button {
    border-radius: 5px;
    margin-left: 10px;
    padding: 1px 4px;
    font-size: 13px;
    font-weight: 500;
  }
}
